#wishlist{
    .top{
        width: 100%;
        height: 30vh;
        position: relative;
        width: 100%;
        padding-bottom: 50px;
        margin-bottom: 100px;
        .image {
            img {
                position: absolute;
                top: 0%;
                left: 0%;
                opacity: 0.4;
                z-index: -111;
                height: 100%;
                background-color: #ffc1da;
            }
        }
        .text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: black;
            z-index: 9999999;
        }
    }


        h3 {
          margin: 20px;
        }
      
        .top {
          table {
            width: 100%;
            margin-bottom: 40px;
      
            tr {
              th {
                font-weight: bold;
                font-size: 18px;
                text-align: center;
              }
              td {
                text-align: center;
                .buttonBox {
                  border: 1px solid rgb(196, 196, 196);
                  margin-right: 20px;
                  padding: 14px 0px;
      
                  button {
                    border: none;
                    outline: none;
                    background-color: transparent;
                    padding: 0px 25px;
                    font-weight: bold;
                    font-size: 20px;
                  }
      
                  .count {
                    padding: 30px 20px;
                  }
                }
                .icon{
                  border-radius: 7px;
                  background: #ED1B6F;
                  font-size: 14px;
                  line-height: 15px;
                  padding: 10px 12px;
                  color: #fff;
                  font-weight: 400;
                  cursor: pointer;
                  margin: auto;
                }
                .icon1{
                  border-radius: 7px;
                  background: #ED1B6F;
                  font-size: 14px;
                  line-height: 15px;
                  padding: 10px 15px;
                  color: #fff;
                  font-weight: 400;
                  margin: auto;
                  cursor: pointer;
                }
              }
            }
          }
        }
      
        .bottom {
          .top {
            margin-bottom: 30px;
            input {
              padding: 15px 40px 15px 5px;
              outline: none;
              border: 1px solid rgb(198, 198, 198);
            }
      
            button {
              // width: 100%;
              padding: 15px 45px;
              margin: 10px 15px;
              text-align: center;
              border: 1px solid transparent;
              outline: none;
              font-weight: 600;
              transition: 0.3s ease-in-out;
              background-color: #8dc63f;
              color: white;
      
              &:hover {
                background-color: transparent;
                border: 1px solid rgb(197, 197, 197);
                color: black;
              }
            }
            .shoppingButton {
              padding: 15px 45px;
              margin: 10px 15px;
              text-align: center;
              border: 1px solid transparent;
              outline: none;
              font-weight: 600;
              transition: 0.3s ease-in-out;
              background-color: #ED1B6F;
              color: white;
      
              &:hover {
                background-color: transparent;
                border: 1px solid rgb(197, 197, 197);
                color: black;
              }
            }
          }
          .bottom {
            padding-bottom: 50px;
            table {
              width: 100%;
      
              tr {
                td {
                  border: 1px solid rgb(187, 187, 187);
                  padding: 10px;
                  .price {
                    justify-content: end;
                    display: flex;
                  }
                }
              }
            }
            button {
              // width: 100%;
              padding: 15px 45px;
              margin: 10px 0px 30px 0px;
              text-align: center;
              border: 1px solid transparent;
              outline: none;
              font-weight: 600;
              transition: 0.3s ease-in-out;
              background-color: #ED1B6F;
              color: white;
              &:hover {
                background-color: transparent;
                border: 1px solid #ED1B6F;
                color: black;
              }
            }
          }
        }
      
        table,
        th,
        td,
        tr {
          border: 1px solid rgb(199, 199, 199);
          padding: 30px;
        }
      }

      @media (max-width: 576px) {  
        #wishlist{
          
          .top{
             table{
              tr{
                  td{
                    padding: 10px;
                      img{
                          width: 50px;
                      }
                  }
                  .dnone{
                      display: none;
                  }
              }
             } 
          }
        }
  }
