#BlogDetailBody{
    .boxes{
        .user{
            margin-bottom: 20px;
            text-align: center;
            span{
                cursor: pointer;
                transition: 0.3s ease-in-out;
                &:hover{
                    color: #EE2D7A;
                }
            }
            
            i{
                margin-right: 7px;
                color: #EE2D7A;
            }
        }
        .box{
            width: 80%;
            margin: auto;
            .big-text{
                padding:20px 0px ;
                h2{
                    font-weight: 500;
                    font-size: 23px;
                    font-family: "Trirong", serif;


                }
            }
            .image-box{
                width: 80%;
                margin: auto;
                padding-bottom: 30px;
            }
            .leftRightText{
              margin-bottom: 50px;
            }

            #comment {
                margin-left: -20px;
                .top {
                  .add {
                    .admin {
                      .date {
                        font-size: 16px;
                        font-weight: 600;
                        color: #6b6a81;
                      }
                      .light {
                        font-size: 15px;
                        color: #666;
                        margin-bottom: 15px;
                        line-height: 24px;
                      }
                    }
                  }
                }
                .bottom {
                  .comment-title {
                    h2 {
                      margin-top: 20px;
                      font-size: 16px;
                      color: #6b6a81;
                      text-transform: uppercase;
                      font-weight: 600;
                    }
                  }
                  .comment-rating {
                    span {
                      font-size: 17px;
                      color: #454545;
                      margin-right: 5px;
                    }
                  }
                  .comment-input-box {
                    margin-top: 20px;
                    .comment-input {
                      input {
                        width: 100%;
                        height: 50px;
                        outline: none;
                        border: 1px solid #e5e5e5;
                        font-size: 15px;
                        color: #151515;
                        line-height: 48px;
                        margin-bottom: 20px;
                        padding: 20px;
                      }
                    }
                    textarea {
                      height: 130px;
                      width: 100%;
                      outline: none;
                      border: 1px solid #e5e5e5;
                      padding: 20px;
                      font-size: 15px;
                      color: #151515;
                      margin-bottom: 15px;
                    }
                    .comment-submit {
                      margin-top: 20px;
                      margin-bottom: 20px;
                      .cart-btn {
                        border-radius: 8px;
                        background: #ee2d7a;
                        border: 0;
                        font-size: 14px;
                        line-height: 15px;
                        padding: 10px 12px;
                        text-transform: uppercase;
                        color: #fff;
                        font-weight: 400;
                      }
                    }
                  }
                }
              }
        }
      
    }

}


// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 
  #BlogDetailBody{
    .boxes{
      .image-box{
        img{
          margin-bottom: 30px;
        }
      }
    }
  }
 }

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) { 
  #BlogDetailBody{
    .boxes{
      .image-box{
        img{
          margin-bottom: 30px;
        }
      }
    }
  }
 }

// Large devices (desktops, 992px and up)
@media (max-width: 992px) { 
  #BlogDetailBody{
    .boxes{
      .image-box{
        img{
          margin-bottom: 30px;
        }
      }
    }
  }
 }

// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {  }

// XX-Large devices (larger desktops, 1400px and up)
@media (max-width: 1400px) {  }
