#nature {
    background-image: url(http://dtiva.wpengine.com/wp-content/uploads/2020/06/noise-parallax-bgimage.jpg);
    width: 100%;
    height: 500px;
    padding: 40px;

    .text {
        padding-left: 60px;

        .title {
            font-weight: 500;
        }

        h1 {
            font-size: 60px;
            padding-bottom: 15px;

            span {
                color: #EE2D7A;
            }
        }

        button {
            border: 2px solid #EE2D7A;
            background-color: transparent;
            color: #EE2D7A;
            border-radius: 25px;
            padding: 13px 40px;
            font-weight: 500;
        }
    }
}