#blogDetailTitle {
    width: 100%;
    height: 30vh;
    position: relative;
    width: 100%;
    padding-bottom: 50px;
    margin-bottom: 100px;

    .image {
        img {
            position: absolute;
            top: 0%;
            left: 0%;
            opacity: 0.4;
            z-index: -111;
            height: 100%;
            background-color: #98536f;
        }
    }
    .text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        z-index: 9999999;
    }
    
}