#contactt {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  .buttonBox {
    button {
      margin: 20px;
      padding: 10px 230px;
      border: none;
      background-color: #ffcc95;
      color: black;
      border-radius: 5px;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  #contactt {
    .buttonBox {
      button {
        margin: 20px;
        padding: 10px 100px;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 576px) and (max-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 768px) and (max-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
}