#accoutPage{
    padding: 50px;
    text-align: center;
    .buttonBox {
        button{
            margin: 20px;
            padding: 10px 230px;
            border: none;
            background-color: #ED1B6F;
            color: white;
            border-radius: 5px;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 
    #accoutPage{
        .buttonBox{
            button{
                padding: 7px 50px;
            }
        }
    }
 }

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {  }

// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {  }

// XX-Large devices (larger desktops, 1400px and up)
@media (max-width: 1400px) {  }

