#accoutPage{
    padding: 50px;
    text-align: center;
    .buttonBox {
        button{
            margin: 20px;
            padding: 10px 230px;
            border: none;
            background-color: #ED1B6F;
            color: white;
            border-radius: 5px;
        }
    }
}

