#questions{
    width: 80%;
    margin: auto;
    border: 1px solid #ffbad6;
    padding: 30px;
    border-radius: 7px;
    margin-bottom: 80px;
    .text{
        text-align: center;
        color: #EE2D7A;
    }
}