#herbal {
    .box {
        padding-bottom: 60px;
    }

    .image {
        position: relative;
        text-align: center;

        .flovers {
            width: 110px;
            height: 110px;
        }

        .text {
            position: absolute;

            top: 20%;
            left: 25%;
            transform: translateX(-50%, -50%);

            h6 {
                color: rgb(238, 45, 122);
            }
        }

        .bottomText {
            padding-top: 30px;
            width: 80%;
            margin: auto;
            font-family: Poppins, sans-serif;

            .description {
                color: rgb(163, 163, 163);
                font-size: 18px;
            }

            .price {
                font-size: 19px;
            }

        }
    }

}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    #herbal {
        .image {
            margin-top: 20px;
            position: relative;
            .text {
                position: absolute;

                top: 10%;
                left: 20%;
                transform: translateX(-50%, -50%);

                h6 {
                    color: rgb(238, 45, 122);
                }
            }

        }
    }
}

// Medium devices (tablets, 768px and up)
@media(min-width: 576px) and (max-width: 768px) {
    #herbal {
        .image {
            margin-top: 20px;
            position: relative;
            .text {
                position: absolute;

                top: 10%;
                left: 30%;
                transform: translateX(-50%, -50%);

                h6 {
                    color: rgb(238, 45, 122);
                }
            }

        }
    }
}

// Large devices (desktops, 992px and up)
@media(min-width: 768px) and (max-width: 992px) {
    #herbal {
        .image {
            margin-top: 20px;
            position: relative;
            .text {
                position: absolute;

                top: 10%;
                left: 30%;
                transform: translateX(-50%, -50%);

                h6 {
                    color: rgb(238, 45, 122);
                }
            }

        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (max-width: 1400px) {}