#footer{
    background-color: #FDEFE1;
    width: 100%;
    height: 80vh;
    position: relative;
    .box{
        background-color: white;
        
        padding: 30px 70px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        .left{
            i{
                font-size: 25px;
            }
        }
    }
}