#footer{
    background-color: #FDEFE1;
    width: 100%;
    padding: 0px;
    position: relative;
    .box{
        background-color: white;
        border-radius: 5px;
        margin-bottom: 70px;
        padding: 30px 70px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        .left{
            i{
                font-size: 25px;
            }
        }
    }
    .bottom{
        .image{
            padding-bottom: 15px;
        }
        .icon{
            p{
                font-size: 17px;
                padding-bottom: 10px;
            }
            i{
                margin-right: 10px;
            }
        }
        .text{
            color: #ED1B6F;
        }
    }
    .finish{
        text-align: center;
        padding-bottom: 10px;
        
    }
}