#aboutcosmetics{
    .top {
        padding-top: 40px;
        padding-bottom: 40px;
        .image2 {
            position: relative;
            text-align: center;

            img {
                width: 130px;
                height: 130px;
            }

            .text {
                position: absolute;
                top: 20%;
                left: 42%;
                transform: translateX(-50%, -50%);

                h6 {
                    color: rgb(238, 45, 122);
                }
            }
        }
    }
    .bottom{
        padding-bottom: 70px;
        
        .image{
            position: relative;
            transition: 0.3s ease-in-out;
            .text{
                position: absolute;
                bottom: 0%;
                left: 0%;
                font-weight: 500;
                font-size: 18px;
                text-align: center;
                color: white;
                opacity: 0;
                overflow: hidden;
                transition: 0.3s ease-in-out;
                cursor: pointer;
                background-color: black;
                padding: 10px;
            }
            &:hover{
                .text{
                    opacity: 0.6;
                    visibility: visible;
                    p{
                        opacity: 1;
                    }
                }
            }

        }
        .title{
            text-align: center;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 
    #aboutcosmetics{
        .top{
            .image2 {
                position: relative;
                text-align: center;    
                .text {
                    position: absolute;
                    top: 20%;
                    left: 30%;
                }
            } 
        }
        .box{
            margin-bottom: 30px;
        }
    }
 }

// Medium devices (tablets, 768px and up)
@media(min-width: 576px) and (max-width: 768px) { 
    #aboutcosmetics{
        .top{
            .image2 {
                position: relative;
                text-align: center;    
                .text {
                    position: absolute;
                    top: 20%;
                    left: 38%;
                }
            } 
        }
        .box{
            margin-bottom: 30px;
        }
    }
 }

// Large devices (desktops, 992px and up)
@media(min-width: 768px) and (max-width: 992px) { 
    #aboutcosmetics{
        .top{
            .image2 {
                position: relative;
                text-align: center;    
                .text {
                    position: absolute;
                    top: 20%;
                    left: 38%;
                }
            } 
        }
        .box{
            margin-bottom: 30px;
        }
    }
 }

// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {  }

// XX-Large devices (larger desktops, 1400px and up)
@media (max-width: 1400px) {  }